// content panel begins
div.content_panel
    div.filters    
       div.select
            div.sel_title - Выберите бренд -
            div.option
       div.select
            div.sel_title - Выберите бренд -
            div.option
       div.select
            div.sel_title - Выберите бренд -
            div.option
       
    div.views
        div.wrapper.pad 
            div.sort_az
            
            
   
// content panel ends
    