//content grid begins
div.content_products.grid.active   
        div.product
            div.img 
                img(src="images/auto2.png")
            div.title Alfa Romeo
        div.product
        div.product
        div.product    
        div.product
        div.product
        div.product
        div.product  
        div.product
        div.product
        div.product
        div.product  
 


//content grid ends