// content nav begins
div.content_nav
    div.nav_top
        div.tab_1 Поиск автомобиля
        div.tab_2 
            span.text_1 Включить расширенный поиск
            span.text_2 Включить упрощенный поиск
    //div.nav_top_expand old
    div.nav_main
        div.type.active
        div.type
        div.type
        div.type
        div.type
    div.nav_expand
// content nav ends
    