// include expand_search_top old
   include expand_search_bottom
div.expand_search
    div.nav_types
        div.type.active
        div.type
        div.type
        // div.type(data-expand-tab="3")
        // div.type(data-expand-tab="4")
    div.filters.default_select         
        select.ex_search_select_1
            option(value='hide') -- Выберите бренд -- 
            option(value='value1') Value
            option(value='value1') Value
            option(value='value1') Value
        select.ex_search_select_2
            option(value='hide') -- Выберите бренд -- 
            option(value='value1') Value
        select.ex_search_select_3
            option(value='hide') -- Выберите бренд -- 
            option(value='value1') Value
    div.details 
        div.tabs
            div.detail_1.active(data-expand-tab="0") Дисковый тормоз
            div.detail_2(data-expand-tab="1") Барабанный тормоз
        div.axis  
            div.both.active 
                img(src="images/axis_1.png")
            div.forward
                img(src="images/axis_2.png")
            div.backward
                img(src="images/axis_3.png")
    div.expand_search_content
        -var j = 0
        each item in expand_search_images
            div.expand_tab
                div.image_block
                    img(src=item)
                div.search_param.pad
                     form(name="expand_search_form")
                        div.fields
                           -var field_name_exp_search=['A','B'];
                           -for (var i = 0; i < 2; i++)
                                 div.param_wrapper
                                        div.param_title <span>#{field_name_exp_search[i]}</span> (&#177; 1 мм) :
                                        div.input
                                            input(type='text' name="num_"+j)
                                        - j++
                        button.submit(type="submit") Искать
    div.search_result