// expand bottom search begins
div.expand_search
    div.bottom_panel
        div.param.pad.default_select
                div.param_wrapper
                    div.param_title Изготовитель
                    div.param_input.selection
                        select 
                            option(value='hide') -- Выберите бренд -- 
                            option Value
                div.param_wrapper
                    div.param_title Модельный ряд
                    div.param_input
                        input(disabled)
                div.param_wrapper
                    div.param_title Модельный ряд
                    div.param_input
                        input(disabled)
                div.param_wrapper
                    div.param_title Год выпуска
                    div.param_input.input.input_double -
                        input
                        input
                div.param_wrapper
                    div.param_title Двигатель
                    div.param_input
                        input(disabled)
                div.param_wrapper
                    div.param_title Мощность л.с.
                    div.param_input.input.input_double -
                        input
                        input
                div.param_wrapper
                    div.param_title Мощность кВт
                    div.param_input.input.input_double -
                        input
                        input
                div.param_wrapper
                    div.param_title Номер КВА (Германия)
                    div.param_input.input
                        input
                div.param_wrapper
                    div.param_title Тип конструкции
                    div.param_input.selection
                        select 
                            option(value='hide') -- Выберите бренд -- 
                            option Value  
            
        div.bttn_panel
            div.bttn.active
                img(src="images/icon6.png")
            div.bttn
                img(src="images/icon7.png")
            div.bttn
                img(src="images/icon8.png")
        div.bttn_result
            div.bttn 6164 ПРОДУКТОВ НАЙДЕНО
            
                

// expand bottom search ends