// footer begins
footer 
    div.footer_top
        div.wrapper.pad
            div.logo
            
            div.lang
                select
                    option(value='russian' data-image="images/lang_rus.png") Russian 
                    option(value='russian' data-image="images/lang_rus.png") Russian
    div.footer_bottom
        div.wrapper.pad
            div.copyright Все права защищены и охраняются законом. 1991 - 2017 ООО "ДАФМИ".
            div.development 
                div Разработка сайта:
                img(src="images/crepla_logo.png")
// footer ends