// header begins
header
    div.header_top
        div.wrapper.pad
            nav
                ul.top_nav
                    -for(var i =0; i < 7; i++)
                        li
                            a(href= header_links[i])= header_menu[i]
            div.profile
                div.icon
                span Здраствуйте -
                div.status Войдите в личный кабинет
    div.header_bottom
        div.wrapper.pad
            a(href="index.html").logo
            div.input
                input(placeholder="Поиск детали")
            div.contacts
                div.header_contacts_wrapper
                    div.tel +38 (050) 844-77-76
                    div.consult Получить консультацию
                div.cart
                    div.items_amount 0
                    include popup_small_cart
                a.garage(href="page_profile_garage.html")
// header ends