//modals begins

//modal_authorization begins
div.modal_window.modal_authorization
    div.modal_content
        div.close
        h3.mid_h Авторизация
        form(name="authorization")
            -var i = 0
            each item in modal_auto            
                p.label= item                
                if(i==1)
                    div.input
                        input(name= names_authorization[i], data-key= keys_authorization[i++], type="password")
                else
                    div.input
                        input(name= names_authorization[i], data-key= keys_authorization[i++])             
                
            div.bottom
                div.restore_pass Я забыл свой пароль
                button.submit Авторизация
                div.register Зарегестрировать новый аккаунт
        
        
//modal_authorization ends

//modal_registration_1 begins
div.modal_window.modal_registration_1
    div.modal_content
        div.close
        h3.mid_h Регистрация
        p.title Шаг 1 из 4. Выбор профиля
        div.choose_profile
            div.border  или
            div.customer
                div.img
                    img(src='images/icon_choose_profile_1.png')
                p.profile_title Покупатель
                p.profile_text Может то то и то то, а не может то и то            
            div.partner
                div.img
                    img(src='images/icon_choose_profile_2.png')
                p.profile_title Партнер
                p.profile_text Может то то и то то, а не может то и то
       
//modal_registration_1 ends

//modal_registration_2_1 begins
div(data-modal-name="register_customer").modal_window.modal_registration_2_1
    div.modal_content.default_select    
        div.close
        h3.mid_h Регистрация
        p.title Шаг 2 из 4. Ваш автомобиль        
            -var i =0
            each item in modal_reg_2_1            
                p(data-key= keys_registration_customer[i]).label= item
                select(class= 'modal_reg_1_sel_' + i++)
                    option(value='hide') -- Выберите бренд -- 
                    option(value='value1') Value1
                    option(value='value1') Value2
                    option(value='value1') Value3
            div.next Далее
//modal_registration_2_1 ends

//modal_registration_2_2 begins
div(data-modal-name="register_company").modal_window.modal_registration_2_2
    div.modal_content
        div.close
        h3.mid_h Регистрация
        p.title Шаг 2 из 4. Даные о компании
        form(name="register_company")
            -var i = 0
            each item in modal_reg_2_2 
                p.label= item
                div.input
                    input(name= names_registration_company[i], data-key= keys_registration_company[i++])
            button.next Далее
//modal_registration_2_2 ends

//modal_registration_3 begins
div(data-modal-name="register_personal").modal_window.modal_registration_3
    div.modal_content
        div.close
        h3.mid_h Регистрация
        p.title Шаг 3 из 4. Личные данные
        form(name="register_personal")
            -var i = 0
            each item in modal_reg_3
                p.label= item
                div.input
                    input(name= names_registration_person[i], data-key= keys_registration_person[i++])
            button.next Далее 
//modal_registration_3 ends

//modal_registration_4 begins
div(data-modal-name="register_pass").modal_window.modal_registration_4
    div.modal_content
        div.close
        h3.mid_h Регистрация
        p.title Шаг 4 из 4. Пароль
        form(name="register_pass")
            p.label Придумайте пароль
            div.input
                input(name="pass_reg", data-key='pass1', type="password")
            p.label Повторите пароль
            div.input
                input(name="pass_confirm", data-key='pass2', type="password")
                div.assist
            button.finish Завершить регистрацию
//modal_registration_4 ends

//modal_registration_success begins
div.modal_window.modal_registration_success
    div.modal_content
        div.close
        div.inner
            h3.mid_h Спасибо за регистрацию
            a.profile Перейти в личный кабинет
//modal_registration_success ends

//modal_restore_pass begins
div.modal_window.modal_restore_pass
    div.modal_content
        div.close
        h3.mid_h Восстановить пароль
        p.label Введите ваш логин или email
        form(name="restore_pass")
            div.input
                input(name="email", data-key="email")
            button.submit Восстановить пароль
//modal_restore_pass ends

//modal_restore_pass_success begins
div.modal_window.modal_restore_pass_success
    div.modal_content
        div.close
        h3.mid_h Проверьте вашу почту
        p.text На ваш email пришло письмо с данными <br> для восстановления пароля
//modal_restore_pass_success ends

//modal_consult begins
div.modal_window.modal_consult
    div.modal_content
        div.close        
        h3.mid_h Получить консультацию
        form(name="consult")
            p.label Ваше имя
            div.input
                input(name="name", data-key="name")
            p.label Номер телефона
            div.input
                input(name="tel", data-key="tel")
            p.label Текст обращения
            textarea(name="comment", data-key="comment")
            button.submit Отправить заявку
//modal_consult ends


//modal_preview begins
div.modal_window.modal_preview
    div.modal_content
       div.close        
       div.img
           img(src="" alt="preview")
//modal_preview ends

//modals ends