//modals begins

//modal_authorization begins
div.modal_window.modal_authorization
    div.modal_content
        div.close
        h3.mid_h Авторизация
        each item in modal_auto
            p.label= item
            div.input
                input
        div.bottom
            div.restore_pass Я забыл свой пароль
            button.submit Авторизация
            div.register Зарегестрировать новый аккаунт
        
        
//modal_authorization ends

//modal_registration_1 begins
div.modal_window.modal_registration_1
    div.modal_content
        h3.mid_h Авторизация
       
//modal_registration_1 ends

//modal_registration_2_1 begins
div.modal_window.modal_registration_2_1
    div.modal_content
        h3.mid_h Авторизация
        each item in modal_reg_2_1
            p.label= item
            div.input
                input
//modal_registration_2_1 ends

//modal_registration_2_2 begins
div.modal_window.modal_registration_2_2
    div.modal_content
        h3.mid_h Авторизация
        each item in modal_reg_2_2
            p.label= item
            div.input
                input
//modal_registration_2_2 ends

//modal_registration_3 begins
div.modal_window.modal_registration_3
    div.modal_content
        h3.mid_h Авторизация
        each item in modal_reg_3
            p.label= item
            div.input
                input
//modal_registration_3 ends

//modal_registration_4 begins
div.modal_window.modal_registration_4
    div.modal_content
        h3.mid_h Авторизация
        p.label
        div.input
            input
//modal_registration_4 ends

//modal_registration_success begins
div.modal_window.modal_registration_success
    div.modal_content
//modal_registration_success ends

//modal_restore_pass begins
div.modal_window.modal_restore_pass
    div.modal_content
//modal_restore_pass ends

//modal_restore_pass_success begins
div.modal_window.modal_restore_pass_success
    div.modal_content
//modal_restore_pass_success ends

//modal_consult begins
div.modal_window.modal_consult
    div.modal_content
//modal_consult ends

//modals ends