div.popup_small_garage
    a(href="page_profile_garage.html").big_h Мой гараж
    div.img
        img(src="images/garage_side.png") 
    div.select_auto.pad
        select
            option Auto 1
            option Auto 2                    
                                       