//popup begins

div.popup_small_cart
    div.info
        p.str_amount В корзине <span>4 товара</span> 
        p.str_summ на сумму <span>10 000 грн</span>
    a(href="page_cart.html").order Перейти в корзину
    //div.cart_link
        a(href="page_cart.html") Перейти в корзину
        
    

//popup ends