// result 1 begins
div.result_grid
    -for (var i = 0; i < 10; i++)
        div.single_result
            h3.small_h ALFA ROMEO 145
            p.title Выберите модель
            div.img
                img(src="images/auto1.png")
            div.model_choosing 
                div.model 123-345-18
                div.model 123-345-25
                div.model 123-345-40
    div.single_result
            h3.small_h ALFA ROMEO 145
            p.title Выберите модель
            div.img
                img(src="images/auto1.png")
            div.model_choosing 
                div.model 123-345-18
               
            
    

// result 1 ends