// result full begins
div.result_full 
    div.result_full_panel.pad
        div.amount
        div.right
            div.sort_by
                select 
                    option
                    option
            div.compare
            div.grid_view
                div.list
                div.grid.active
    div.results_wrapper
        div.single_result
            div.img
                img
            div.top_row
                div.title
                    div.vendor
                    h3.mid_h
                div.right    
                    div.price
                    div.cart
                    div.compare
            div.middle_row
            div.bottom_row
                div.text
                div.show_more
                
            
            
        
    
// result full ends