// result 1 begins
div.result_grid.pad
    -for (var i = 0; i < 10; i++)
        div.single_result
            h3.small_h ALFA ROMEO 145
            p.title Выберите модель
            div.img
                img(src="images/auto1.png")
            div.model_choosing 
                div.model
                div.model
                div.model
            
    

// result 1 ends