// contacts begins
div.content.feedback
    div.wrapper.pad
        h3.big_h Обратная связь
        p.questions Есть ли у Вас вопросы/замечания или возможно вы обнаружили ошибки в данных или в системе?
        div.contacts_content_wrapper
            div.left_block
                h4.mid_h Контактная информация
                ul.contact_list
                    li.feedback_image.feedback_image_address 109651, Харьков, <br>Егорьевский проезд, д. 2
                    li.feedback_image.feedback_image_phone
                        a(href="tel:+380508447776") +380508447776
                    li.feedback_image.feedback_image_skype
                        a(href="skype:murumskieprost") murumskieprost
                    li.feedback_image.feedback_image_time <span>Время работы:</span> <br> пн-сб 9:00-17:00
                    li.feedback_image.feedback_image_email
                        a(href="mailto:info@murprost.ru") <span>info@murprost.ru</span>
            div.right_block
                h4.mid_h Напишите нам
                form
                    label(for="name") Ф.И.О.
                    input(type="text" id="name")
                    label(for="email") E-mail
                    input(type="text" id="email")
                    label(for="message") Сообщение:
                    textarea(name="message" id="message")
                    input(type="submit" value="Отправить" class="button")
div.map.page_contacts  
    div.wrapper
        h4.mid_h Мы на карте      
		
// contacts ends