// partners begins
div.map.page_partners  
    div.wrapper.pad
        h4.mid_h География наших партнеров
        
div.content.geography
    div.wrapper
        h3.big_h У нас больше 20 парнеров в 5 раных странах СНГ
        -for(var i =0; i< 10; i++)
            div.geography_element
                div.img
                    img
                div.element_contact
                    h4.mid_h ООО "Укравтозапчасть"
                    div.text
                        p Харьковский р-н, пос. Васищево, ул. Промышленная, 1
                        a(href="tel:0577136900") (057)-713-69-00,
                        a(href="tel:0507136900") (050)-713-69-00,
                        a(href="tel:0677136900") (067)-713-69-00
                    div.visit                     
                        a(href="#") Посетить сайт 
		
// partners  ends