// profile main begins
div.content.profile
    div.wrapper
        h1.big_h.pad Личный кабинет
        div.profile_content
            +profile_menu(3)
            div.profile_tab_content 
           
        

// profile main ends