// print begins
div.content.page_print
	div.wrapper.pad
		div.left
			h3.big_h ПЕЧАТЬ ПО ТРЕБОВАНИЮ
			p.text= page_print_text
			div.buttons
				div.author.button Авторизация
				div.register.button Регистрация
		div.right
			img(src="images/print_catalog.png")
// print ends