// downloads begins

div.content.page_downloads
    div.wrapper.pad
        h3.big_h Загрузки
        p.title Здесь вы можете загрузить наши печатные каталоги в формате PDF, XLS.
        div.files_wrapper
            -for(var i =0; i<6; i++)
                a.single_file(href="")
                    p.text Каталог запасных частей Textar - легковые автомобили и коммерческий транспорт 
// downloads ends