
div.content.new_positions
    div.wrapper
        h3.big_h.pad Новые позиции в ассортименте        
        div.new_positions_wrapper
                div.filters.default_select.pad
                    div.selection_wrapper
                        p Дата от:
                        select.new_positions_select_1
                            option(value='hide') Value2
                            option(value='value1') Value
                            option(value='value1') Value
                            option(value='value1') Value
                    div.selection_wrapper
                        p Дата до:
                        select.new_positions_select_2
                            option(value='hide') Value1
                            option(value='value1') Value
                div.nav_types
                    div.type.active
                    div.type
                    div.type
                    // div.type(data-expand-tab="3")
                    // div.type(data-expand-tab="4")         
                div.details 
                    div.tabs
                        div.detail_1.active Дисковый тормоз
                        div.detail_2.active Барабанный тормоз
                    div.axis  
                        div.both.active 
                            img(src="images/axis_1.png")
                        div.forward
                            img(src="images/axis_2.png")
                        div.backward
                            img(src="images/axis_3.png")
                
                button.submit(type="submit") Искать
                div.search_result