title Intelli
meta(charset='utf-8')
link(rel="icon" href="images/favicon.ico" type="image/x-icon")
//link(rel="stylesheet", href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css")
link(rel='stylesheet', href='stylesheets/concat.css' media="all and (max-width:1300px)") 
link(rel='stylesheet', href='stylesheets/style.css'  media="all and (min-width:1301px)") 
link(rel='stylesheet', href='stylesheets/jquery.mCustomScrollbar.min.css') 
script(src="/js/min/jquery-3.1.1.min.js", defer)
//script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js", defer)
//script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js", defer)
script(src='js/script.js', defer) 