@font-face {
    font-family: Light;
    src: url(../fonts/GothamProLight.ttf)
}

@font-face {
    font-family: Regular;
    src: url(../fonts/GothamProRegular.ttf)
}

@font-face {
    font-family: Medium;
    src: url(../fonts/GothamProMedium.ttf)
}

@font-face {
    font-family: Bold;
    src: url(../fonts/GothamProBold.ttf)
}

@font-face {
    font-family: Bandera;
    src: url(../fonts/BanderaPro-Bold.otf)
}
$trans: 0.3s;
$red: #dc5552;
//font
$black: #333;
$gray: #666;
$l_gray:#a7abb0;
$font_gray: #999;
//bg
$bg_black: #212125;
$bg_deep_black:#1a1a1e;
$bg_l_gray: #fdfdfd;
$active_gray: #fafafa;
$disabled_gray: #f8f8f8;
//border
$border_gray: #d6d6d6;
$border_l_gray: #efefef;
$border_active_gray: #b4b4b4;
$border_dark_gray: #4a4a4d;
$selection_border:  1px solid $border_l_gray;
/*Font Sizes*/
$fs12:12px;
$fs13:13px;
$fs14:14px;
$fs16:16px;
$fs18:18px;
$fs20:20px;
$fs24:24px;
$fs30:30px;
$fs36:36px;
$fs48:48px;
$triangle_h: 238px;
%clear {
    position: relative;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin triangle($position, $url) {
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: $triangle_h;
        background-image: $url;
        background-size: 1900px $triangle_h;
        background-position: center center;
        @if $position==bottom {
            bottom: 0;
        }
        @if $position==top {
            top: 0;
        }
    }
}

@mixin bp() {
    @media screen and (max-width: 1100px) {
        @content;
    }
}
