.content_panel {
    background-color: $bg_white;
    .filters {
        $border: 1px solid $border_l_gray;
        @extend %clear;
        padding: 20px;
        .select {
            float: left;
            width: 379px;
            margin-right: 20px;
            height: 40px;
            font-size: $fs14;
            .select-styled {
                line-height: 38px;
                &:before {
                    top: 15px;
                }
            }
            &:last-of-type {
                margin-right: 0;
            }
            .disabled {
                cursor: default;
                background-color: $active_gray;
            }
        }
    }
    .views {
        @extend %clear;
        $height: 35px;
        padding: 13px 0;
        background-color: $bg_l_gray;
        .sort_az {
            position: relative;
            width: $height;
            height: $height;
            display: inline-block;
            .az_trigger {
                cursor: pointer;
                position: absolute;
                left: 0;
                top: 0;
                width: $height;
                height: $height;
                border: 1px solid $border_l_gray;
                font-family: Bold;
                font-size: $fs18;
                color: $font_gray;
                text-align: center;
                line-height: 33px;
                z-index: 1;
                &.active {
                    color: white;
                    background-color: $red;
                    border-color: $red;
                }
            }
            ul {
                $width: 665px;
                position: absolute;
                left: 100%;
                height: $height;
                outline-width: 1px;
                outline-color: $border_l_gray;
                outline-style: solid;
                outline-offset: -1px;
                font-size: 0;
                padding: 0 5px;
                width: 0px;
                transition: 0.3s;
                display: none;
                overflow: hidden;
                &.active {
                    width: $width;
                }
                li {
                    position: relative;
                    text-align: center;
                    width: 25px;
                    height: $height;
                    line-height: $height;
                    display: inline-block;
                    font-size: $fs14;
                    font-family: Regular;
                    &.active {
                        font-family: Bold;
                        border-bottom: 1px solid $red;
                    }
                }
            }
        }
        .grid_view {
            float: right;
            font-size: 0;
            .list,
            .grid {
                cursor: pointer;
                border: 1px solid $border_l_gray;
                display: inline-block;
                background-image: url('../images/grid_icons.png');
                width: $height;
                height: $height;
                &.active {
                    background-color: $red;
                    border-color: $red;
                }
            }
            .list {
                position: relative;
                background-position: 0 -35px;
                &.active {
                    background-position: -35px -35px;
                }
            }
            .grid {
                background-position: 0 0;
                &.active {
                    background-position: -35px 0;
                }
            }
        }
    }
}
