.content_nav {
    background-color: $bg_white;
    .nav_top {
        @extend %clear;
        height: 80px;
        line-height: 80px;
        .tab_1 {                      
            float: left;
            font-family: Medium;
            font-size: $fs20;
            padding-left: 35px;
        }
        .tab_2 {
            cursor: pointer;
            width: 299px;
            float: right;
            font-size: $fs14;
            background-color: #f7f7f7;
            text-align: center;
            height: 100%;
            .text_2 {
                display: none;
            }
            &.active {
                .text_1 {
                    display: none;
                }
                .text_2 {
                    display: inline;
                }
            }
        }
    }
    .nav_main {
        @extend %nav_auto;
    }
}
