.content.page_news {
	.big_h {
		height: 80px;
		line-height: 80px;
		text-transform: none;
		padding: 0 20px;
	}
	.single_article {
		@extend %clear;
		padding: 20px;
		border-top: $selection_border;
		.article_text {
			display: inline;
			line-height: 180%;
			font-size: $fs14;
			.show_more {
				display: inline;
				color: $black;
				text-decoration: none;
				span {
					color: $font_blue;
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
	}
	.title {
		font-size: $fs18;
		font-family: Medium;
		margin-bottom: 15px;
	}
	.date {
		font-size: $fs14;
		padding-left: 25px;
		position: relative;
		margin-bottom: 15px;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 15px;
			height: 15px;
			background-image: url(../images/icon_news.png);
		}
	}
	.img {
		float: left;
		margin-right: 20px;
		width: 280px;
		height: 180px;
		font-size: 0;
		background-size: cover;
		background-position: top center;
	}
	.buttons_panel {
		padding: 10px 20px;
		text-align: center;
	}
	.buttons {
		display: inline-block;
		.button {
			float: left;
			transition: $trans;
			margin-left: 7px;
			@include btn($fs13, $black, transparent, 40px, 40px, 0px, $border_l_gray, 1px);
			&:hover,
			&.active {
				@include btn($fs13, $font_white, $red, 40px, 40px, 0px, $border_l_gray, 1px);
			}
			&:first-of-type {
				margin-left: 0px
			}
		}
		.back,
		.next {
			@include btn($fs13, $black, transparent, 80px, 40px, 0px, $border_l_gray, 1px);
			&:hover {
				width: 80px;
			}
		}
		.page_num {}
	}
}
