div.top_search
    div.bttn.all Выбрать все детали
    div.bttn_panel
        div.bttn_wrapper
            div.parts
                div.part_1 
                    div.bttn.category Тормозной диск
                    div.bttn_part_wrapper
                        div.bttn.single
                div.part_2 
                     div.bttn.category Тормозной барабан
                div.part_3 
                     div.bttn.category Стояночный тормоз
            div.bttn.single
                div.line_1
                div.line_2
        div.bttn.expand
    div.param
        div.param_wrapper
            div.param_title
            div.param_input 
        
    