include ../index_help/variables    
include ../index_help/mixins   


doctype html
html
  head
    include ../index_meta/head   
  body
    div.nano
        include ../index_comp/header
        include ../index_comp/cars_type
        include ../index_comp/footer 