include ../index_help/variables    
include ../index_help/mixins   


doctype html
html
  head
    include ../index_meta/head   
  body
    include ../index_comp/header
    include ../other_comp/page_downloads
    include ../index_comp/footer 