-var cars1 = ["AC","Acura","Alfa Romeo","Alpina","Alpine","Aro","Asia","Aston Martin","Audi","Austin"];
-var cars2 = ["BAW","Beijing","Bentley","BMW","Brilliance","Bristol","Bugatti","Buick","BYD","Богдан"];
-var cars3 =["Vector","Venturi","Volkswagen","Volvo","Vortex","Wartburg","Westfield","Wiesmann","Wuling","ВАЗ (Lada)"];
-var cars4 = ["Dacia","Dadi","Daewoo","Daihatsu","Daimler","Dallas","Derways","De Tomaso","Dodge","Dong Feng","Doninvest","Jeep","Jiangling","Jiangnan"];
-var cars5 = ["Mahindra","Marcos","Marlin","Marussia","Maruti","Maserati","Maybach","Mazda","McLaren","Mega","Mercedes-Benz","Mercury","Metrocab","MG","Minelli","Mini","Mitsubishi","Mitsuoka","Monte Carlo","Morgan","Москвич"];
-var motor_table = ["Двигатель","Год выпуска","Произв. двиг. [лс.\кВт]"," Вид топлива","Смещение [cc]","Тип мотора","Код двигателя","Число цилиндров"];  
-var single_result_tab = ["Показатели","Легковой автомобиль","Ссылка на ОЕ","Изображения"];
-var expand_search_images = ['images/expand_search_pict_1.jpg', 'images/auto_sample.jpg', 'images/expand_search_pict_1.jpg','images/auto_sample.jpg','images/expand_search_pict_1.jpg'];