.content.page_news {
    .wrapper {
        padding-top: 0;
    }
    .big_h {
        height: 80px;
        line-height: 80px;
        padding: 0 20px;
    }
    .single_article {
        @extend %clear;
        padding: 20px;
        border-top: $selection_border;
        .article_text {
            display: inline;
            line-height: 180%;
            font-size: $fs14;
            .show_more,
            .show_less {
                display: inline;
                color: $black;
                text-decoration: none;
                span {
                    color: $font_blue;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
    .title {
        font-size: $fs18;
        font-family: Medium;
        margin-bottom: 15px;
    }
    .date {
        font-size: $fs14;
        padding-left: 25px;
        position: relative;
        margin-bottom: 15px;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 15px;
            height: 15px;
            background-image: url(../images/icon_news.png);
            background-size: contain;
        }
    }
    .img {
        margin: auto;
        width: 100%;
        height: 180px;
        font-size: 0;
        background-size: contain;
        background-position: center center;
        margin-bottom: 20px;
    }
    .buttons_panel {
        padding: 10px 20px;
        text-align: center;
    }
    .buttons {
        display: none;
    }
}
