.single_result_page {
    padding-top: 75px;
    padding-bottom: 60px;
    >.wrapper {
        padding-top: 20px;
        position: relative;
    }
    .top_info {
        margin-bottom: 20px;
        @extend %clear;
        .img {
            width: 100%;
            overflow: hidden;
            position: relative;
            text-align: center;
            margin-bottom: 20px;
            img {
                width: 100%;
            }
        }
        .main_info {
            float: left;
        }
        .mid_h {
            font-family: Medium;
            font-size: $fs18;
            text-transform: uppercase;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .vendor {
            font-size: $fs16;
            margin-bottom: 20px;
        }
        .main_info_rect {
            display: none;
        }
        .main_info_additional {
            line-height: 150%;
            background-color: $disabled_gray;
            font-size: $fs16;
            padding: 15px 20px;
            width: 100%;
        }
    }
    .single_result_page__info_block {
        >.title {
            height: 50px;
            background-color: $button_gray;
            padding-left: 50px;
            line-height: 50px;
            font-size: $fs14;
            position: relative;
            &.active {
                font-family: Medium;
                color: white;
                background-color: $red;
                &:before {
                    content: '';
                    background-color: $red;
                    position: absolute;
                    transform: rotate(45deg);
                    width: 10px;
                    height: 10px;
                    left: 20px;
                    bottom: -5px;
                }
            }
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                margin-top: -10px;
                left: 15px;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
                //background-image: url(../images/icons_expand_result.png)
            }
        }
    }
    .param_info {
        .title {
            &:after {
                background-image: url(../images/icon_expand_res_4.png);
                //background-position: -20px 0px;
            }
            &.active {
                &:after {
                    //background-position: -20px -20px;
                }
            }
        }
        .single_result_page__content {
            border-bottom: 1px solid $border_l_gray;
            margin-bottom: 20px;
            @extend %clear;
            @extend %param_content;
        }
    }
    .models_info {
        .title {
            &:after {
                background-image: url(../images/icon_expand_res_6.png);
                //background-position: -40px 0px;
            }
            &.active {
                &:after {
                    //background-position: -40px -20px;
                }
            }
        }
        .nav {
            display: none;
        }
        .single_result_page__content {
            padding-top: 20px;
            @extend %clear;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;
            .single_maker {
                overflow: hidden;
                margin-bottom: 15px;
                .main_title {
                    cursor: pointer;
                    width: 180px;
                    max-width: 50%;
                    height: 40px;
                    position: relative;
                    padding-right: 45px;
                    line-height: 40px;
                    padding-left: 45px;
                    font-size: $fs13;
                    border: 1px solid $border_l_gray;
                    text-transform: uppercase;
                    &:before {
                        content: '';
                        position: absolute;
                        transform: rotate(-90deg);
                        background-image: url(../images/icon_select_small.png);
                        background-size: contain;
                        width: 10px;
                        height: 5px;
                        left: 15px;
                        top: 45%;
                    }
                    &.active {
                        font-family: Medium;
                        &:before {
                            transform: rotate(0deg);
                            top: 50%;
                        }
                    }
                }
                .single_model {
                    overflow: hidden;
                    height: 0;
                    .single_model_title {
                        cursor: pointer;
                        height: 50px;
                        line-height: 50px;
                        background-color: $button_gray;
                        padding-left: 45px;
                        position: relative;
                        &:before {
                            content: '';
                            position: absolute;
                            transform: rotate(-90deg);
                            background-image: url(../images/icon_select_small.png);
                            background-size: contain;
                            width: 10px;
                            height: 5px;
                            left: 15px;
                            top: 45%;
                        }
                        &.active {
                            font-family: Medium;
                            background-color: white;
                            &:before {
                                transform: rotate(0deg);
                                top: 50%;
                            }
                        }
                    }
                    .model_content {
                        padding-top: 10px;
                        position: relative;
                        min-height: 100px;
                        .single_item {
                            height: 40px;
                            line-height: 40px;
                            @extend %clear;
                            font-family: Medium;
                            font-size: $fs13;
                            border-bottom: 1px solid $border_l_gray;
                            >* {
                                float: left;
                            }
                            .param_model {
                                width: 33.3%;
                                padding-left: 10px;
                            }
                            .param_year {
                                width: 33.3%;
                                text-align: center;
                            }
                            .param_cap {
                                width: 33.3%;
                                text-align: right;
                                 padding-right: 10px;
                            }
                         
                        }
                        .info {
                            background-color: $button_gray;
                            padding: 15px;
                            font-size: $fs13;
                            .title {
                                &:not(:last-of-type) {
                                    margin-bottom: 15px;
                                }
                            }
                            .value {
                                float: right;
                                font-family: Medium
                            }
                        }
                    }
                }
            }
        }
    }
    .links_info {
        margin-bottom: 30px;
        .title {
            &:after {
                //background-position: 0px 0px;
                background-image: url(../images/icon_expand_res_2.png);
            }
            &.active {
                &:after {
                    //background-position: 0px -20px;
                }
            }
        }
        .single_result_page__content {
            border-bottom: 1px solid $border_l_gray;
            margin-bottom: 20px;
            @extend %clear;
            @extend %param_content;
            .param {
                text-transform: uppercase;
            }
        }
    }
}
