.profile_tab_content.history {
    @extend %single_product_cell_view;
    .top_title {}
    .big_h {
        display: block;
        font-size: $fs20;        
                
        line-height: 150%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .history_wrapper { 
        @extend %clear;
        border-top: $selection_border;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
