footer {
    @extend %clear;
    $big_pad: 20px;
    height: $h_footer;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bg_black;
    padding-top: $big_pad;
    .wrapper {
        padding: 0;
        background-color: $bg_black;
    }
    .footer_top {
        $border-color: $border_dark_gray;
        .logo {
            display: none;
        }
        .lang {
            color: white;
            .select {
                width: 180px;
                height: 42px;
                margin: auto;
                margin-bottom: $big_pad;
                text-align: center;
                .select-styled {
                    border: 1px solid $border-color;
                    height: 100%;
                    line-height: 45px;
                    &:hover {
                        background-color: $black;
                    }
                }
                .select-options {
                    background-color: $bg_black;
                    bottom: 100%;
                    top: initial;
                    li {
                        position: relative;
                        height: 45px;
                        line-height: 45px;
                        border-right: 1px solid $border-color;
                        border-left: 1px solid $border-color;
                        border-bottom: 1px solid $border-color;
                        color: white;
                        &:nth-of-type(2) {
                            border-top: 1px solid $border-color;
                        }
                        &:hover {
                            background-color: $black;
                        }
                        &[rel="hide"] {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .footer_bottom {
        line-height: $footer_bottom_height;
        font-size: $fs12;
        color: $font_gray;
        text-align: center;
        .copyright {
            display: none;
        }
        .socials {
            font-size: 0;
            line-height: 0;
            margin-left: auto;
            margin-right: auto;
            li {
                display: inline-block;
                margin-left: 10px;
                margin-bottom: $big_pad;
                img {
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .development {
            background-color: $bg_black;
            display: inline-block;
            height: $footer_bottom_height;
            padding-bottom: $big_pad;
            div {
                display: inline-block;
                vertical-align: top
            }
            img {
                height: 100%;
                width: auto;
                margin-left: 8px;
            }
        }
    }
}
