.profile_tab_content.order {
    font-size: $fs13;
    .top_title {
        @extend %clear;
        height: auto;
        border-bottom: 1px solid #f6f6f6;
    }
    .big_h {
        //width: 200px;
        display: block;
        padding-left: 20px;
        line-height: 75px;
        font-size: $fs20;
        .num_symbol {
            font-family: Bold
        }
    }
    .button {
        width: 180px;
        margin: auto;
        min-height: 38px;
        padding: 15px;
        margin-bottom: 15px;
        font-size: $fs13;
        text-align: center;
        cursor: default;
    }
    .arrived {
        border: 1px solid #69b980;
    }
    .delivering {
        border: 1px solid #d9db58;
    }
    .processing {
        border: 1px solid #d9db58;
    }
    .waiting {
        border: 1px solid #efefef;
    }
    .denied {
        border: 1px solid #dc5552;
    }
    .order_list {
        .order_element {
            @extend %clear;
            display: block;
            width: 100%;
            padding: 10px 20px;
            border-bottom: 1px solid $border_gray_table_row;
            cursor: pointer;
            .table_value {
                float: left;
                vertical-align: middle;
                width: 50%;
                text-align: center;
                padding: 5px 0;
                &:nth-of-type(2) {
                    display: none;
                }
                span {
                    font-family: Medium;
                }
            }
        }
    }
    .total {
        float: right;
        min-width: 200px;
        font-size: $fs18;
        font-family: Medium;
        line-height: 70px;
    }
}
