.content.profile {
    .wrapper {
        padding-top: 0;
    }
    .big_h {
        display: none;
    }
    .profile_content {
        @extend %clear;
        .profile_menu {
            display: none;
        }
        .profile_tab_content {
            background-color: $bg_white;
        }
    }
}
