.expand_search {
    $border: 1px solid $border_gray;
    background-color: $bg_white;
    padding-top: 20px;
    .nav_types {
        @extend %nav_auto;
    }
    .expand_search_content {
        .expand_tab {
            display: none;
            &:first-of-type {
                display: block;
            }
        }
    }
    .image_block {
        display: none;
    }
    .search_param {
        @extend %clear;
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
        .param_wrapper {           
            @extend %clear;
            margin-bottom: 20px;           
            height: 40px;
            padding-left: 20px;
            padding-right: 20px;
          
            .param_title {
                @extend %clear;
                span {
                    font-family: Medium;
                    font-size: $fs16;
                }
                font-size: $fs14;
                line-height: 40px;
                display: inline-block;
            }
        }
    }
    .input {
        float: right;
        border: 1px solid $border_active_gray;
        display: block;        
        height: 45px;
        width: 60%;
        min-width: 160px;
        input {
            padding-left: 20px;
            width: 100%;
            height: 100%;
            font-size: $fs14;
            &:focus {
                background-color: rgba(0, 0, 0, 0.01);
            }
        }
    }
    .fields {
        @extend %clear;
    }
    .submit {
        display: block;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 40px;
        background-color: $red;
        font-family: Medium;
        font-size: $fs13;
        text-transform: uppercase;
        text-align: center;
        height: 40px;
        color: white;
        cursor: pointer;
    }
    input+li {
        padding: 0;
        list-style-type: none;
        height: 0;
        span.invalid {
            color: $red;
            font-size: $fs12;
        }
    }
    .tabs {
        @extend %nav_auto_details;
    }
    .axis {
        @extend %nav_auto_axis;
        height: 50px;
        margin-bottom: 40px;
    }
    .default_select {
        @extend %clear;
        // height: 70px;
        padding: 20px;
        .select {
            @extend %search_select;
            height: 40px;
            .select-styled {
                line-height: 38px;
                &:before {
                    top: 15px;
                }
            }
            .select-options {
                height: 140px;
                overflow-x: hidden;
                overflow-y: auto;
                border-left: $selection_border;
                border-right: $selection_border;
                border-bottom: $selection_border;
                margin-left: -1px;
                margin-right: -1px;
            }
            li {
                height: 30px;
                line-height: 30px;
                padding-top: 0;
                padding-bottom: 0;
            }
            .disabled {
                cursor: default;
                background-color: $active_gray;
            }
        }
    }
    .search_result {
        @extend .result_full;
        .select-options {
            li {
                heigth: 40px;
            }
        }
    }
}
