.profile_tab_content.history {@extend %single_product_cell_view;
    .top_title {}
    .big_h {
        font-size: $fs20;
        text-transform: none;
        height: 75px;
        line-height: 75px;
    }
    .history_wrapper {
        @extend %clear;
        border-top: $selection_border;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
}
