.profile_tab_content.garage .modal_window {
    $input_height: 45px;
    @extend %shim;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    opacity: 0;
    display: none;
    &.active {
        opacity: 1
    }
    .modal_content {
        @extend %clear;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 750px;
        background-color: $bg_white;
        top: 50vh;
        transform: translateY(-50%);
        .mid_h {
            text-transform: none;
            font-family: Medium;
            font-size: $fs20;
            height: 70px;
            line-height: 70px;
            padding: 0 20px;
        }
        .top_nav {
            height: 140px;
        }
        .modal_steps {
            font-size: 0;
            height: 70px;
            li {
                line-height: 66px;
                font-size: $fs14;
                position: relative;
                width: 25%;
                height: 70px;
                text-align: center;
                display: inline-block;
                &:after {
                    content: '';
                    position: absolute;
                    width: 9px;
                    height: 16px;
                    background-image: url(../images/icon_arrow_left.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    top: 50%;
                    margin-top: -8px;
                    right: -4px;
                }
                &.active {
                    font-family: Medium;
                    border-bottom: 4px solid $red;
                }
                &:last-of-type {
                    &:after {display: none;}
                }
            }
        }
        .modal_tab {padding-top: 20px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        }
        button {
            font-family: Medium;
            font-size: $fs16;
            text-transform: none;
            color: $font_white;
            background-color: $red;
            width: 100%;
            display: block;
            height: 55px;
        }
    }
    .close {
        position: absolute;
        cursor: pointer;
        width: 20px;
        height: 20px;
        right: 20px;
        top: 20px;
        background-image: url(../images/icon_close_popup.png);
        background-size: contain;
    }
    li {
        padding: 0;
        list-style-type: none;
        height: 0;
        span.invalid {
            color: $red;
            font-size: $fs12;
        }
    }
}

@import "mob_modal_year.scss";
@import "mob_modal_mark.scss";
@import "mob_modal_model.scss";
@import "mob_modal_motors.scss";
@import "mob_modal_confirm_choosing.scss";
