.result_full {$pad: 5%;
    margin: auto;
    .result_full_panel {
        @extend %clear;
        $full_height: 60px;
        $vert_pad: 13px;
        $line_height: $full_height - $vert_pad*2;
        $height: 35px;
        padding-top: $vert_pad;
        padding-bottom: $vert_pad;
        padding-left: $pad;
        padding-right: $pad;
        background-color: $bg_l_gray;
        height: $full_height;
        .amount {
            font-family: Medium;
            font-size: $fs16;
            line-height: $line_height;
            float: left;
        }
        .right {
            display: none;
        }
    }
    .results_wrapper {
        .single_result {
            border-top: 1px solid $border_l_gray;
            padding-top: 20px;
            //padding-left: 20px; 
        }
    }
    @import "mob_index_full_result_short.scss";
    @import "mob_index_full_result_extend.scss";
    .pagination {
        display: none;
    }
}
