.map.page_partners {
    display: none;
}

.content.geography {
    color: #333333;
    .wrapper {
        @extend %clear;
        padding-bottom: 20px;
    }
    .big_h {
        font-family: Medium;
        font-size: $fs24;
        line-height: 120%;
        text-align: center;
        text-transform: none;
        margin-bottom: 20px;
    }
    .mid_h {
        font-family: Medium;
        font-size: $fs16;
        text-transform: capitalize;
        line-height: 24px;
    }
    .geography_element {
        min-height: 125px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        margin-top: 20px;
        margin-left: 20px;
        border: 1px solid $border_l_gray;
        font-size: 13px;
        position: relative;
        cursor: pointer;
        text-align: center;
        .element_contact {
            display: inline-block;
            text-align: left;
        }
        .img {
            display: block;
            margin: auto;
            margin-bottom: 20px;
            width: 80px;
            height: 80px;
            border: 1px solid $border_l_gray;
        }
        .text {
            padding-top: 5px;
            line-height: 160%;
            margin-bottom: 7px;
            a {
                padding-right: 5px;
                letter-spacing: 0.5px;
            }
        }
        .visit {
            margin-bottom: 20px;
            img {
                vertical-align: middle;
            }
            a {
                margin-left: 20px;
                border-bottom: 1px solid $border_active_gray;
                line-height: 130%;
                position: relative;
                &:before {
                    content: '';
                    width: 12px;
                    height: 12px;
                    top: 2px;
                    left: -20px;
                    position: absolute;
                    background-image: url(../images/link.png);
                }
            }
        }
    }
}
