.single_result_extend {
    height: 0;
    transition: 0.5s;
    overflow: hidden;
    &.expand {
        height: auto;
        .tab_1,
        .tab_2,
        .tab_3,
        .tab_4 {
            display: block !important;
            visibility: hidden;
        }
    }
    .tab_panel {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        .tab {
            height: 50px;
            background-color: $button_gray;
            width: 280px;
            padding-left: 50px;
            line-height: 50px;
            font-size: $fs14;
            position: relative;
            cursor: pointer;
            &.active {
                font-family: Medium;
                color: white;
                background-color: $red;
                &:before {
                    content: '';
                    background-color: $red;
                    position: absolute;
                    transform: rotate(45deg);
                    width: 10px;
                    height: 10px;
                    left: 20px;
                    bottom: -5px;
                }
            }
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                margin-top: -10px;
                left: 15px;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
               // background-image: url(../images/icons_expand_result.png)
                background-size: contain;
            }
            &:nth-of-type(1) {
                &:after {
                    //background-position: -20px 0px;
                    background-image: url(../images/icon_expand_res_1.png)
                }
                &.active {
                    &:after {
                        //background-position: -20px -20px;
                        background-image: url(../images/icon_expand_res_2.png)
                    }
                }
            }
            &:nth-of-type(2) {
                &:after {
                    //background-position: -40px 0px;
                    background-image: url(../images/icon_expand_res_3.png)
                }
                &.active {
                    &:after {
                       // background-position: -40px -20px;
                        background-image: url(../images/icon_expand_res_4.png)
                    }
                }
            }
            &:nth-of-type(3) {
                &:after {
                   // background-position: 0px 0px;
                    background-image: url(../images/icon_expand_res_5.png)
                }
                &.active {
                    &:after {
                       // background-position: 0px -20px;
                        background-image: url(../images/icon_expand_res_6.png)
                    }
                }
            }
            &:nth-of-type(4) {
                &:after {
                   // background-position: -60px 0px;
                    background-image: url(../images/icon_expand_res_7.png)
                }
                &.active {
                    &:after {
                      //  background-position: -60px -20px;
                        background-image: url(../images/icon_expand_res_8.png)
                    }
                }
            }
        }
    }
    .tab_container {
       display: none;
    }
}
