.short {
    @extend %clear;
    border-bottom: 1px solid $border_l_gray;
}



.img {   
    height: 20vw;    
    margin-bottom: 5vw;
    margin-left: 5vw;
    width: 20%;
    float:left;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.single_product_link {
    display: block;
    width: 40px;
    height: 40px;
    float:right;
    cursor: pointer;
    position: relative;
    border: $selection_border;
    transition: $trans;
      margin-bottom: 5vw;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 50%;
        margin-top: -11.5px;
        width: 23px;
        height: 23px;
        background-image: url(../images/icon_link_2.png);
        background-size: contain;
        background-position: center center;
        //background-image: url(../images/icon_go_to_sprite.png);
        //background-position: -25px 0;
    }
    &:active{
        background-color: $red;
        border: 1px solid $red;
        &:before {
            background-image: url(../images/icon_link_1.png);
            //background-position: 0 0;
        }
    }
}

.single_result_right {
    width: 65%;
    float: right;
    position: relative;
}

.top_row {
    margin-right: $pad;
    .title {      
        font-family: Medium;
        line-height: 150%;
        .vendor {@extend %clear;
            font-size: $fs16;
            cursor: pointer;
            height: 40px;
            line-height: 40px;
        }
        .mid_h {
            font-size: $fs14;
            text-transform: none;
            margin-bottom: 10px;
            cursor: pointer;
        }
    }
    .right {
        display: none;
    }
}

.middle_row {
    display: none;
}

.bottom_row {
    display: none;
}

.show_more {
    display: none;
}
