@font-face {
    font-family: Light;
    src: url(../fonts/SF-UI-Display-Light.ttf)
}

@font-face {
    font-family: Regular;
    src: url(../fonts/SF-UI-Display-Regular.ttf)
}

@font-face {
    font-family: Medium;
    src: url(../fonts/SF-UI-Display-Medium.ttf)
}

@font-face {
    font-family: Bold;
    src: url(../fonts/SF-UI-Display-Bold.ttf)
}

$red: #ee3840;
$black: #333333;
$gray: #666666;
$darkred: darkred;
$fs16:16px;
$fs18:18px;
$fs24:24px;
$fs30:30px;
$fs36:36px;
$fs48:48px;
$triangle_h: 238px;
@mixin triangle($position, $url) {
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right:0;
        height: $triangle_h;
        
        background-image: $url;
        background-size: 1900px $triangle_h;
        background-position: center center;
        @if $position==bottom {
            bottom: 0;
        }
        @if $position==top {
            top: 0;
        }
    }
}

@mixin bp() {
    @media screen and (max-width: 1100px) {
        @content;
        
    }
    
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    color: $black;
    font-family: Regular;
    overflow-x: hidden;
    &.hidden {
        position: fixed;
        left: 0;
    }
}

* {
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.wrapper {
    width: 1100px;
    margin: auto;
    padding: 0 20px;
}

.rotated_bg {
    height: 100%;
    $deg: 3.5;
    width: 200%;
    transform: rotate($deg + deg);
    overflow: hidden;
    .reverse_rotated_bg {
        height: 100%;
        transform: rotate(-$deg + deg);
    }
}

.button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    &:link,
    &:visited,
    &:active,
    &:hover {
        color: $black
    }
}

.main_h {
    font-family: Bold;
    font-size: $fs48;
    text-transform: uppercase;
}

.mid_h {
    font-family: Bold;
    font-size: $fs36;
    text-transform: uppercase;
}

.small_h {
    font-family: Bold;
    font-size: $fs18;
    text-transform: uppercase;
}

.wide_left_line {
    border-left: 6px solid $red;
}

button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

form {
    margin: auto;
    font-size: 0;
    button {
        display: block;
        margin: auto;
        width: 340px;
        height: 75px;
        font-family: Bold;
        font-size: $fs18;
        text-transform: uppercase;
        background-color: $red;
        border-radius: 40px;
        color: white;
        transition: 0.3s;
        &:hover {
            background-color: $darkred;
        }
    }
}

.input {
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    &:nth-of-type(2) {
        margin: 0 20px;
    }
    &:before {
        content: '';
        position: absolute;
        left: 20px;
        top: 50%;
        width: 17px;
        height: 20px;
        transform: translateY(-50%);
        background-size: 100% 100%;
    }
    &:nth-of-type(1):before {
        background-image: url(../images/icon_1.svg)
    }
    &:nth-of-type(2):before {
        background-image: url(../images/icon_2.svg)
    }
    &:nth-of-type(3):before {
        background-image: url(../images/icon_3.svg)
    }
}

input {
    width: 340px;
    height: 60px;
    padding-left: 55px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: white;
    color: $black;
    font-size: $fs16;
    &:focus {
        outline: none;
        background-color: rgba(0, 0, 0, 0.1);
    }
    &::-webkit-input-placeholder {
        font-family: Regular;
        font-size: $fs16;
        color: $gray
    }
    &::-moz-placeholder {
        font-family: Regular;
        font-size: $fs16;
        color: $gray
    }
    /* Firefox 19+ */
    &:-moz-placeholder {
        font-family: Regular;
        font-size: $fs16;
        color: $gray
    }
    /* Firefox 18- */
    &:-ms-input-placeholder {
        font-family: Regular;
        font-size: $fs16;
        color: $gray
    }
}

.slick-arrow {
    position: absolute;
    width: 55px;
    height: 55px;
    background-image: url(../images/next-prev.png);
    top: 50%;
    transform: translateY(-50%);
    font-size: 0px;
    z-index: 1;
}

.slick-next {
    right: 0;
    background-position: 0px -55px;
}

.slick-prev {
    left: 0;
    background-position: 0px 0px;
}

.slick-dots {
    font-size: 0;
    li {
        display: inline-block;
        margin-left: 3px;
        button {
            padding: 0;
            width: 10px;
            height: 10px;
            border: 1px solid #ccc;
            font-size: 0;
            border-radius: 50%;
        }
        &.slick-active {
            button {
                width: 10px;
                height: 10px;
                border: none;
                background-color: $red
            }
        }
    }
}

.slick-track,
.slick-slide {
    &:focus {
        outline: none;
    }
}

.modal_window {
    opacity: 0;
    transition-duration: 0.5s;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    &.visible {
        opacity: 1;
    }
    .close {
        background-image: url(../images/modal_close.png);
        width: 66px;
        height: 66px;
        position: absolute;
        top: -6px;
        right: -10px;
        cursor: pointer;
    }
}

.clearfix {
    clear: both
}

footer {
    position: relative;
    margin-top: -$triangle_h;
    height: 840px;
    background-image: url(../images/footer_bg.jpg);
    background-position: center bottom;
    background-attachment: fixed;
    @include bp() {
         background-attachment: scroll;
        
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        height: $triangle_h;
        width: 100%;
        background-image: url(../images/triangle_gray.png);
        background-size: 1900px $triangle_h;
        background-position: center center;
        bottom: 0;
    }
    .wrapper {
        padding-top: 200px;
        color: white;
        text-align: center;
         z-index: 1;
           position: relative;
    }
    .title {
        text-transform: uppercase;
        font-size: $fs24;
        font-family: Bold;
        margin-bottom: 10px;
    }
    .mid_h {
        font-size: $fs30;
        margin-bottom: 20px;
    }
    .main_h {
        margin-bottom: 10px;
    }
    .text {
        font-size: $fs18;
        margin-bottom: 80px;
    }
    .input {
        margin-bottom: 75px;
    }
    .credits {
        position: relative;
        text-align: left;
        color: $black;
        font-size: $fs18;
        margin-top: 60px;
        a {
            font-family: Bold
        }
       
    }
}

.modal_file {
    z-index: 101;
    .modal_content {
        width: 755px;
        height: 405px;
        margin: auto;
        top: calc(50vh - 405px/2);
        //top:50%;
        //transform: translateY(-50%);
        position: relative;
        background-color: white;
        padding-left: 280px;
        padding-top: 60px;
        padding-bottom: 50px;
        padding-right: 20px;
        background-image: url(../images/modal_bg.jpg);
        background-size: 100% auto;
        background-position: center bottom;
    }
    .title {
        font-family: Bold;
        font-size: $fs30;
        text-transform: uppercase;
        padding-bottom: 25px
    }
    .text {
        font-size: 19px;
        border-left: 5px solid $red;
        padding-left: 15px;
        height: 60px;
        margin-bottom: 33px;
        line-height: 150%;
    }
    .input {
        display: block;
        margin-bottom: 30px;
        &:before {
            background-image: url(../images/icon_3.svg)
        }
        input {
            width: 460px;
            height: 55px;
        }
    }
    button {
        width: 460px;
        height: 60px;
    }
}

.modal_form {
    
    
    .modal_content {
        margin: auto;
        //top: 50%;
         top: calc(50vh - 550px/2);
        
       // transform: translateY(-50%);
        position: relative;
        width: 600px;
        height: 550px;
        padding: 35px;
        background-color: white;
    }
    .mid_h {
        font-family: Bold;
        font-size: $fs36;
        margin-bottom: 15px;
    }
    .text {
        font-size: 20px;
        border-left: 5px solid $red;
        padding-left: 10px;
        height: 55px;
        margin-bottom: 30px;
    }
    .input {
        display: block;
        margin-bottom: 27px;
        margin-left: auto;
        margin-right: auto;
    }
    input {
        width: 525px;
    }
    button {
        width: 525px;
    }
}

.modal_preview {
    overflow: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    .modal_content {
        position: relative;
        margin: auto;
        text-align: center;
        .img {
            display: inline-block;
            position: relative;
        }
        img {
            max-width: 100%;
        }
        .close {
            background-color: white;
            border-radius: 50%;
        }
    }
}

/*section.part_1 {
    height: 770px;
    .reverse_rotated_bg {
        background-color: #f5f5f5;
        background-image: 
        
    }
} */

section.part_1 {
    position: relative;
    height: 777px;
    background-color: #f5f5f5;
    .wrapper {
        height: 100%;
        position: relative;
        @include bp() {
            overflow: hidden;
        }
        .photo {
            position: absolute;
            width: 663px;
            height: 754px;
            bottom: -95px;
            right: -112px;
            
        }
        /*&:before {
            content: '';
            position: absolute;
            width: 663px;
            height: 754px;
            bottom: -95px;
            right: -112px;
            background-image: url(../images/photo.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }*/
    }
    .logo {
        padding-top: 48px;
        font-family: Medium;
        font-size: $fs24;
        color: $gray;
    }
    .main_h {
        margin-bottom: 35px;
        padding-top: 100px;
    }
    p {
        @extend .wide_left_line;
        margin-bottom: 40px;
        padding-left: 18px;
        padding-top: 14px;
        padding-bottom: 9px;
        font-family: Medium;
        font-size: $fs24;
        text-transform: uppercase;
        line-height: 150%;
    }
    ul {
        margin-bottom: 50px;
        li {
            position: relative;
            padding-left: 24px;
            font-size: $fs18;
            font-family: Light;
            line-height: 200%;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-60%);
                left: 0;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 8px solid $red;
            }
        }
    }
    .button {
        $h: 70px;
        position: relative;
        width: 315px;
        height: $h;
        padding-left: 25px;
        font-family: Medium;
        font-size: $fs18;
        color: white;
        line-height: $h;
        background-color: $red;
        border-radius: 40px;
        z-index: 1;
        transition: 0.3s;
        &:hover {
            background-color: $darkred;
        }
        &:after {
            content: '';
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            width: 29px;
            height: 21px;
            background-image: url(../images/arrow.png);
        }
    }
    @include triangle(bottom, url(../images/triangle_white.png));
}

section.part_10 {
    position: relative;
    margin-top: -$triangle_h;
    //height: 1175px;
    @include triangle(top, url(../images/triangle_gray.png));
    .wrapper {
        margin-top: -80px;
        z-index: 1;
        position: relative;
    }
    .container {
        border-top: $triangle_h solid rgba(0, 0, 0, 0);
        background-color: #fafafa;
        background-clip: padding-box;
        width: 100%;
        padding-bottom: 80px + $triangle_h;
    }
    .title {
        font-size: 26px;
        text-transform: uppercase;
        padding-left: 15px;
        margin-left: 20px;
        border-left: 6px solid $red;
        margin-bottom: 10px;
        height: 30px;
        line-height: 30px;
    }
    .mid_h {
        margin-bottom: 10px;
    }
    .main_h {
        margin-bottom: 100px;
    }
    .accordion {
        position: relative;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        .left {
            float: left;
            width: 50%
        }
        .right {
            float: right;
            width: 50%
        }
        .question+div {           
color: $gray;
            line-height: 150%;
            overflow: hidden;
        }
        .question {position: relative;
            font-family: Regular;
            font-weight: 200;
            display: inline-block;
            font-size: $fs18;
            text-decoration: underline;
            //border-bottom: 1px solid #ccc;
            margin-top: 25px;
            transition: 0.5s;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-60%);
                left: -25px;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 8px solid #c8c8c8;
            }
            &.active {
                text-decoration: none;
                //border-bottom: none;
                font-family: Medium;
                font-weight: 500;
                margin-bottom: 20px;
                &:before {                  
                transform: rotate(180deg) translateY(40%);
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 7px solid $red;
            }
            }
        }
        .faq {
            padding-left: 25px;
        }
    }
}

section.part_11 {
    position: relative;
    margin-top: -$triangle_h;
    height: 1210px;
    @include triangle(top, url(../images/triangle_white.png));
    background-image: url(../images/section_11_bg.jpg);
    background-position: center $triangle_h;
    .wrapper {
        position: relative;
        z-index: 1;
        padding-top: 160px;
    }
    .mid_h {
        margin-bottom: 5px;
    }
    .main_h {
        margin-bottom: 5px;
        position: relative;
        left: -3px;
    }
    .title {
        text-transform: uppercase;
        font-family: Medium;
        font-size: $fs24;
        position: relative;
        left: -1px;
    }
    img {
        position: relative;
        margin-top: 75px;
        left: 10px;
        max-width: 50%;
      
    }
    ul {
        top: 430px;
        width: 50%;
        position: absolute;
        left: 50%;
        overflow: hidden;
        li {
            position: relative;
            padding-left: 100px;
            margin-bottom: 60px;
            font-size: $fs16;
            color: $gray;
            opacity: 0;
            left: 300px;
            transition: 0.5s;
            &.show {
                left: 0;
                opacity: 1;
            }
            p {
                padding: 10px 0;
                font-family: Bold;
                font-size: $fs18;
                color: $black;
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 78px;
                height: 78px;
                background-image: url(../images/icons4.png);
            }
            &:nth-of-type(1) {
                &:before {
                    background-position: 0px -78px;
                }
            }
            &:nth-of-type(2) {
                &:before {
                    background-position: 0px -156px;
                }
            }
            &:nth-of-type(3) {
                &:before {
                    background-position: 0px 0px;
                }
            }
            &:nth-of-type(4) {
                &:before {
                    background-image: url(../images/icons4_4.png);
                }
            }
        }
    }
}

section.part_12 {
    position: relative;
    margin-top: -$triangle_h;
    height: 870px;
    z-index: 1;
    @include triangle(top, url(../images/triangle_white.png));
    &:before {
        content: '';
        position: absolute;
        left: 0;
        height: $triangle_h;
        width: 100%;
        background-image: url(../images/triangle_white.png);
        background-size: 1900px $triangle_h;
        background-position: center center;
        bottom: 0;
        transform: rotate(180deg);
    }
    .wrapper {
        padding-top: 160px;
        position: relative;
        z-index: 2;
    }
    .main_h {
        font-size: 43px;
        margin-bottom: 20px;
    }
    .title {
        @extend .wide_left_line;
        height: 45px;
        line-height: 45px;
        padding-left: 15px;
        font-family: Medium;
        font-size: $fs30;
        text-transform: uppercase;
        margin-bottom: 100px;
    }
    .sertificates {
        width: 860px;
        margin: auto;
        text-align: center;
        .single_slide {
            position: relative;
            width: 284px;
            height: 201px;
            cursor: pointer;
            &:after {
                content: '+';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 50px;
                color: white;
                opacity: 0;
                transition: 0.5s;
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                opacity: 0;
                transition: 0.5s;
            }
            &:hover {
                &:after {
                    opacity: 1;
                }
                &:before {
                    opacity: 1;
                }
            }
        }
        .slick-next,
        .slick-prev {
            top: 40%;
        }
        .slick-next {
            right: -105px;
        }
        .slick-prev {
            left: -105px;
            ;
        }
        .slick-dots {position: relative;
         
            margin-top: 45px;
        }
    }
}

section.part_2 {
    position: relative;
    height: 690px;
    background-image: url(../images/section_2_bg.jpg);
    background-repeat: no-repeat;
    background-position: center 195px;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $triangle_h;
        background-image: url(../images/section_2_triangle.png);
        background-position: top center;
    }
    .empty {
 
        background-color: white;
        height: 200px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .wrapper {
        position: relative;
        height: 100%;
        padding-top: 135px;
        .text {
            position: absolute;
            top: -85px;
            left: 20px;
            font-size: $fs18;
            color: $gray;
            div {
                display: inline-block;
                padding: 0 28px;
                position: relative;
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    border-radius: 50%;
                    width: 5px;
                    height: 5px;
                    transform: translateY(-50%);
                    background-color: $red;
                }
                &:before {
                    right: 10px
                }
                &:after {
                    left: 10px;
                }
            }
            p {
                color: $black;
                font-family: Medium;
                font-size: 36px;
                text-transform: uppercase;
                padding-top: 30px;
                line-height: 150%;
                span {
                    border-bottom: 3px solid $red;
                    padding-bottom: 2px;
                }
            }
        }
        iframe {
            position: relative;
            margin: auto;
            display: block;
            z-index: 1
        }
    }
}

section.part_3 {
    margin-top: -$triangle_h;
    height: 1185px;
    background-image: url(../images/par_bg_1.jpg);
    background-attachment: fixed;
    background-size: 1900px 1343px;
    background-position: center top;
    background-repeat: no-repeat;
    @include bp() {
         background-attachment: scroll;
        
    }
    color: white;
    .wrapper {
        position: relative;      
    }
    .main_h {
        padding-top: 190px;
        padding-bottom: 15px;
    }
    .mid_h {
        padding-bottom: 30px;
    }
    .title {
        @extend .wide_left_line;
        margin-left: 30px;
        padding-left: 25px;
        font-family: Medium;
        font-size: $fs30;
        height: 47px;
        line-height: 47px;
    }
    .points {
        position: absolute;
        left: -35px;
        top: 420px;
        width: 540px;
        height: 660px;
        max-width: 50%;
        padding-bottom: 20px;
        padding-left: 55px;
        padding-right: 90px;
        padding-top: 55px;
        background-color: #353535;
        z-index: 2;
        
        li {
            position: relative;
            margin-bottom: 25px;
            padding-left: 70px;
            font-size: 19px;
            line-height: 150%;
            left: 400px;
            opacity: 0;
            transition: 0.5s;
            &.show {
                left: 0;
                opacity: 1;
            }
            span {
                position: absolute;
                top: 0;
                left: 0;
                font-family: Bold;
                font-size: $fs24;
            }
            &:before {
                content: '-';
                position: absolute;
                top: 0;
                left: 43px;
                font-family: Medium;
                font-size: $fs18;
            }
        }
    }
}

section.part_4 {
    $triangle_h: 237px;
    position: relative;
    margin-top: -$triangle_h;
    height: 963px;
    background-image: url(../images/center_bg.jpg);
    background-repeat: no-repeat;
    background-size: 1900px 487px;
    background-position: center $triangle_h;
    z-index: 1;
    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: $triangle_h;
        background-size: 1900px $triangle_h;
        background-repeat: no-repeat;
        left: 2px;
    }
    &:before {
        top: 0;
        background-image: url(../images/center_bg_top.png)
    }
    &:after {
        bottom: 2px;
        background-image: url(../images/center_bg_bottom.png)
    }
    .wrapper {
        padding-top: 240px;
        .main_h {
            padding-bottom: 10px;
        }
        .mid_h {
            color: $red;
            padding-bottom: 120px;
        }
        ul {
            font-size: 0;
            opacity: 0;
            position: relative;
            top: 300px;
            transition: 0.5s;
            &.show {
                top: 0;
                opacity: 1;
            }
            li {
                display: inline-block;
                position: relative;
                width: 25%;
                padding-top: 125px;
                text-align: center;
                font-family: Medium;
                font-size: $fs18;
                line-height: 150%;
                &:before {
                    content: '';
                    position: absolute;
                    width: 111px;
                    height: 111px;
                    background-image: url(../images/icons1.png);
                    //background-size: 111px 111px;
                    background-repeat: no-repeat;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &:nth-of-type(1):before {
                    background-position: 0px 0px
                }
                &:nth-of-type(2):before {
                    background-position: -111px 0px
                }
                &:nth-of-type(3):before {
                    background-position: -222px 0px
                }
                &:nth-of-type(4):before {
                    background-position: -333px 0px
                }
            }
        }
    }
}

section.part_5 {
    position: relative;
    margin-top: -$triangle_h;
    height: 1550px;
    background-image: url(../images/par_bg_2.jpg);
    background-attachment: fixed;
    background-size: 1900px 1687px;
    background-position: center center;
    color: white;
    @include bp() {
         background-attachment: scroll;
        
    }
    .wrapper {
        position: relative;
    }
    .main_h {
        padding-top: 190px;
        padding-bottom: 30px;
    }
    .title {
        @extend .wide_left_line;
        margin-left: 30px;
        padding-left: 25px;
        font-family: Medium;
        font-size: $fs30;
        height: 50px;
        line-height: 50px;
        margin-bottom: 90px;
    }
    ul {
        font-size: 0;
        li {
            opacity: 0;
            position: relative;
            top: 600px;
            float: left;
            position: relative;
            width: 33.3%;
            padding-top: 180px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            height: 360px;
            font-size: $fs16;
            line-height: 150%;
            transition: 0.5s;
            &.show {
                top: 0;
                opacity: 1;
            }
            .small_h {
                padding-bottom: 20px;
            }
            &:hover {
                transform: scale(1.1)
            }
            &:before {
                content: '';
                position: absolute;
                width: 160px;
                height: 160px;
                background-image: url(../images/icons2.png);
                //background-size: 111px 111px;
                background-repeat: no-repeat;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            &:nth-of-type(1):before {
                background-position: 0px 0px
            }
            &:nth-of-type(2):before {
                background-position: -160px 0px
            }
            &:nth-of-type(3):before {
                background-position: -320px 0px
            }
            &:nth-of-type(4):before {
                background-position: 0px -160px
            }
            &:nth-of-type(5):before {
                background-position: -160px -160px
            }
            &:nth-of-type(6):before {
                background-position: -320px -160px
            }
        }
    }
}

section.part_6 {position: relative;
    position: relative;
    margin-top: -$triangle_h;
    height: 838px;
    background-image: url(../images/section_6_bg.jpg); 
    background-size: 1900px 700px;
    background-position: center $triangle_h;
    @include triangle(bottom, url(../images/triangle_white.png));

    
    &:before {     content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $triangle_h;
        background-image: url(../images/triangle_gray.png);
        background-position: top center;}
    .wrapper {padding-top: 160px;
    position: relative;}
    
    .title {    @extend .wide_left_line;
     text-transform: uppercase;
        font-size: $fs30;
        font-family: Medium;
        width: 600px;
        height: 80px;
        padding-left: 15px;
        line-height: 130%;
        
    }
    .main_h {padding-top: 15px;
    padding-bottom:20px;
    position: relative;
    left: -3px;}
    .text {color: $gray;
    font-size: $fs18;
     position: relative;
    left: -2px;
    padding-bottom: 60px;}
    
    
    
    
    
}
section.part_7 {
    position: relative;
    margin-top: -$triangle_h;
    height: 980px;
     &:before {
        content: '';
        position: absolute;
        left: 0;
        height: $triangle_h;
        width: 100%;
        background-image: url(../images/triangle_white.png);
        background-size: 1900px $triangle_h;
         transform: rotate(180deg);
        background-position: center center;
        bottom: 0;
         z-index: 2;
    }
    .wrapper {
        padding-top: 160px;
    }
    .main_h {
        color: $red;
    }
    .mid_h {
        padding-bottom: 100px;
    }
    .reviews {
        text-align: center;
        .img {
            position: relative;
            width: 135px;
            height: 135px;
            margin-bottom: 25px;
            margin-right: auto;
            margin-left: auto;
            &:before {
                content: '';
                position: absolute;
                right: -12px;
                top: 0;
                width: 52px;
                height: 37px;
                background-image: url(../images/quote.png);
                background-position: center center;
            }
        }
        img {
            width: 135px;
            height: 135px;
            border-radius: 50%;
        }
        .title {
            font-family: Bold;
            font-size: 20px;
            padding-bottom: 15px;
            text-transform: uppercase;
        }
        .text {
            line-height: 150%;
            padding-bottom: 15px;
            font-size: $fs16;
            padding-right: 100px;
            padding-left: 100px;
        }
        .person {
            font-size: $fs16;
            color: #999;
            padding-bottom: 45px;
        }
        .slick-dots {position: relative; z-index: 3;}
       
    }
}

section.part_8 {
    position: relative;
    margin-top: -$triangle_h;
    height: 950px;
    background-image: url(../images/section_8_bg.jpg);
    background-position: center top;
    .wrapper {
        padding-top: 155px;
        position: relative;
        z-index: 1;
    }
    .mid_h {
        color: $red;
    }
    .main_h {
        margin-bottom: 85px;
    }
    .columns {
        font-size: 0;
        .column {
            float: left;
            position: relative;
            width: 33.3%;
            padding-top: 110px;
            top: 300px;
            opacity: 0;
            transition: 0.5s;
            &.show {
                top: 0;
                opacity: 1;
            }
            &:before {
                content: '';
                position: absolute;
                width: 100px;
                height: 100px;
                background-image: url(../images/icons3.png);
                top: 0;
                left: 0;
            }
            &:nth-of-type(1) {
                padding-right: 80px;
                &:before {
                    background-position: 0px 0px
                }
            }
            &:nth-of-type(2) {
                padding-right: 80px;
                &:before {
                    background-position: -100px 0px
                }
            }
            &:nth-of-type(3) {
                padding-right: 80px;
                &:before {
                    background-position: -200px 0px
                }
            }
            .title {
                position: relative;
                height: 70px;
                font-family: Bold;
                font-size: $fs18;
                text-transform: uppercase;
                line-height: 150%;
                margin-bottom: 20px;
                &:after {
                    content: '';
                    position: absolute;
                    width: 125px;
                    height: 6px;
                    background-color: $red;
                    bottom: 0;
                    left: 0;
                }
            }
            ul {
                li {
                    position: relative;
                    font-size: $fs16;
                    color: $gray;
                    margin-bottom: 25px;
                    padding-left: 35px;
                    line-height: 150%;
                    &:before {
                        font-family: Bold;
                        font-size: $fs18;
                        position: absolute;
                        top: -1px;
                        left: 0;
                        color: $black;
                    }
                    &:nth-of-type(1):before {
                        content: '01'
                    }
                    &:nth-of-type(2):before {
                        content: '02'
                    }
                    &:nth-of-type(3):before {
                        content: '03'
                    }
                }
            }
        }
    }
}

section.part_9 {
    position: relative;
    margin-top: -$triangle_h;
    height: 795px;
    background-image: url(../images/section_9_bg.jpg);
    background-position: center $triangle_h;
    @include triangle(top, url(../images/triangle_white.png));
    .wrapper {
        padding-top: 150px;
        position: relative;
        z-index: 1;
       
    }
     
    .title {
        font-family: Bold;
        font-size: $fs24;
        text-transform: uppercase;
        padding-bottom: 5px;
    }
    .main_h{position: relative;
    left: -3px;padding-bottom: 5px;}
      .mid_h{position: relative;
    left: -2px;
    margin-bottom: 30px;}
    .text {
        margin-left: 20px;
        border-left: 3px solid $red;
        padding-left: 12px;
        height: 25px;
        line-height: 25px;
        margin-bottom: 65px;
    }
}
